<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <a class="navbar-brand" [routerLink]="['/inicio']">
    <img src="../../../assets/Logo_upeu.svg" width="100%" height="30" class="d-inline-block align-top" alt="Egresados UpeU">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="toggler">
    <span class="navbar-toggler-icon" id="toggler_icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a [routerLink]="['/inicio']" class="nav-link">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/eventos']" class="nav-link">Eventos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" *ngIf="identity">
        <a class="nav-link" [routerLink]="['/cursos']">Cursos<span class="sr-only" >(current)</span></a>
      </li>
<!--
      <li class="nav-item active" *ngIf="identity">
        <a class="nav-link" [routerLink]="['/crear-persona']">Datos Personales <span class="sr-only" >(current)</span></a>
      </li>
    -->


    </ul>

    <ul class="navbar-nav navbar-right" *ngIf="!identity">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Registro</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']">Mi perfil - {{ identity.name + ' ' + identity.surname }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/logout/1']">Cerrar sesión</a>
      </li>



      <!--
      <li>
        <a [routerLink]="['/logout',1]" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Salir</a>
      </li>
    -->
    </ul>


  </div>
</nav>


