<app-navbar></app-navbar>

<div class="alert alert-success"*ngIf="status_car =='success'">
    Curso actualizado!!!
</div>

<div class="alert alert-danger"*ngIf="status_car =='error'">
    No se pudo actualizar. Intenta de nuevo!!
</div>

<div id="general">

  <div class="col-lg-6" id="div_title">
    <div id="div_title_text">
      <h1>Editar Curso</h1>
    </div>
  </div>

  <div class="col-lg-6" id="div_content">
    <div id="div_content_form">
      <form #carNew="ngForm" (ngSubmit)="onSubmit(carNew)">
        <p>
          <label for="title"> Titulo</label>
          <input type="text" name="title" #title="ngModel" [(ngModel)]="car.title" class="form-control" required/>
          <span *ngIf="!title.valid && title.touched">
            Titulo no válido
          </span>
        </p>

        <p>
          <label for="description"> Descripcion</label>
          <textarea  name="description" #description="ngModel" [(ngModel)]="car.description" class="form-control" required></textarea>
          <span *ngIf="!description.valid && description.touched">
            Descripcion no válida
          </span>
        </p>

        <p>
          <label for="price"> Precio</label>
          <input type="number" name="price" #price="ngModel" [(ngModel)]="car.price" class="form-control"
          required/>
          <span *ngIf="!price.valid && price.touched">
            PRECIO NO VÁLIDO
          </span>
        </p>

        <p>
          <label for="status">Disponibilidad</label>
          <select class="form-control" name="status" #status="ngModel"[(ngModel)]="car.status"required>
            <option value="true" selected="select">Si</option>
            <option value="false">No</option>
          </select>
        </p>
        <input type="submit" value="Guardar" class="btn btn-success" [disabled]="!carNew.form.valid"  />
      </form>
    </div>
  </div>
</div>
