<app-navbar></app-navbar>

<div class="alert alert-success"*ngIf="status_car =='success'">
    Guardado!!
</div>

<div class="alert alert-danger"*ngIf="status_car =='error'">
    No se pudo guardar, intenta de Nuevo!!
</div>

<div id="general">
  <div class="col-lg-6" id="div_title">
    <div id="div_title_text">
      <h1>Crear un nuevo curso</h1>
    </div>
  </div>

  <div class="col-lg-6" id="div_content">
    <div id="div_content_form">
      <form #carNew="ngForm" (ngSubmit)="onSubmit(carNew)"class="col-lg-10">
        <p>
          <label for="title"> Titulo</label>
          <input type="text" name="title" #title="ngModel" [(ngModel)]="car.title" class="form-control"
            required/>
          <span *ngIf="!title.valid && title.touched">
            Título no válido
          </span>
        </p>

        <p>
          <label for="description"> Descripcion</label>
          <textarea  name="description" #description="ngModel" [(ngModel)]="car.description" class="form-control"
          required></textarea>
          <span *ngIf="!description.valid && description.touched">
            DESCRIPCION NO VÁLIDA
          </span>
        </p>

        <p>
          <label for="price"> Precio</label>
          <input type="number" name="price" #price="ngModel" [(ngModel)]="car.price" class="form-control"
          required/>
          <span *ngIf="!price.valid && price.touched">
            Precio no es valido
          </span>
        </p>

        <p>
          <label for="status"> ¿esta disponible</label>
          <select class="form-control" name="status" #status="ngModel"[(ngModel)]="car.status"required>
            <option value="true" selected="select">Si</option>
            <option value="false">No</option>
          </select>
        </p>

        <input type="submit" value="Guardar" class="btn btn-success" [disabled]="!carNew.form.valid"/>
        <div class="col-lg-4" id="button_1">
          <button [routerLink]="['/cursos']" class="btn btn-success btn-lg active" type="submit" value="Guardar" role="button" style="width: 100%;" [disabled]="!carNew.form.valid">Guardar</button>
        </div>
        <input type="submit" value="Cancelar" class="btn btn-primary" [routerLink]="['/cursos']"/>
      </form>
      <input type="submit" value="Cancelar" class="btn btn-primary" [routerLink]="['/cursos']"/>
    </div>
  </div>
</div>


